        @font-face {
            font-family: 'Rawline';
            src: url("fonts/bQ5i5KfFcuJP.woff2") format('woff2');
            font-weight: 400;
            font-style: normal;
        }

        @font-face {
            font-family: 'Rawline';
            src: url("fonts/h8RvKdctP92U.woff2") format('woff2');
            font-weight: 600;
            font-style: normal;
        }

        @font-face {
            font-family: 'Rawline';
            src: url("fonts/bA80WYIoU0kp.woff2") format('woff2');
            font-weight: 700;
            font-style: normal;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Rawline', sans-serif;
        }

        body {
            background-color: white;
            padding-top: 60px;
            color: #333333;
            font-size: 16px;
            line-height: 1.05;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 20px;
            background-color: white;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            height: 60px;
        }

        .logo {
            width: 100px;
            height: auto;
        }

        .header-icons {
            display: flex;
            gap: 15px;
        }

        .header-icon {
            font-size: 18px;
            color: #1351b4;
        }

        .hero-image {
            width: 100%;
            height: auto;
            overflow: hidden;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .hero-image img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .user-info {
            display: flex;
            flex-direction: column;
            position: relative;
            margin: 15px;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
            background-color: white;
            padding: 15px;
            border-radius: 4px;
            width: calc(100% - 30px);
        }

        .user-info-content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }

        .user-info p {
            margin: 1px 0;
            color: #333333;
            font-size: 16px;
        }

        .user-info p strong {
            font-weight: 600;
        }

        .user-info h3 {
            font-weight: 700;
            color: #0c326f;
            margin-bottom: 4px;
        }

        .video-container {
            position: relative;
            width: 100%;
            margin: 8px auto 0;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .news-description {
            color: #333;
            margin-top: 12px;
            padding: 0 4px;
            text-align: justify;
            width: 100%;
        }

        .verify-cpf-button {
            width: 100%;
            padding: 12px;
            background-color: #1351b4;
            color: white;
            border: none;
            border-radius: 4px;
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 20px;
        }

        .verify-cpf-button:hover {
            background-color: #092555;
        }

        .footer {
            background-color: #1351b4;
            color: white;
            padding: 16px;
            text-align: center;
            margin-top: 40px;
            width: 100%;
            position: relative;
            bottom: 0;
        }

        .footer-logo {
            width: 100px;
            margin: 0 auto 8px;
            display: block;
        }

        @media (max-width: 600px) {
            .header {
                padding: 6px 8px;
            }

            .logo {
                width: 100px;
                /* Corrected width for smaller screens */
            }

            .header-icons {
                gap: 8px;
            }

            .header-icon {
                font-size: 16px;
            }

            .user-info {
                margin: 10px;
                width: calc(100% - 20px);
            }
        }
		
		.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
}
.name {
    color: #3c5a96;
    font-weight: 700;
}

.survey_button {
    border-radius: 4px;
    color: #fff;
    padding: 15px 0;
    font-size: 16px;
	background-color: #F5A817;
}